header{
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    border-radius: 30px;
}
.wrapper{
    width:1120px;
    margin: 0 auto;
    text-align: center;
}

#heading{
    float: left;
    margin-left: 70px;
}
#heading img{
    margin-top: 5px;
    float: left;
}

#heading h1{
    color: white;
    margin-top: 15px;
    float: left;
}

 #headertitle{
margin-top: 0px;
display: inline;

 }


 nav{
   
  float: right;
  margin-right: 20px;
  margin-top: 15px;
     
 }
 nav input{
     background-color: white;
     font-weight: bolder;
     border-radius: 20px;
     margin-right: 20px;
     border: none;
     height: 40px;
    width: 75px;
    font-size: 15px;
 }

 nav input:hover{
     background-color: orange;
 }

 #buttoncontainer{
     background-color: rgba(0, 0, 0, 0.9);
     border-radius: 40px;
 }

#addtodobtn{
    background-color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin-right: 20px;
    border: none;
    height: 40px;
   width: 150px;
   font-size: 15px;
}

#addtodobtn:hover{
    background-color: orange;
}

#todofieldscontainer{
    margin-top: 30px;
}