.wrapper{
    width:1120px;
    margin: 0 auto;
    text-align: center;
}

header{
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    border-radius: 30px;
}



#heading{
    float: left;
    margin-left: 70px;
}
#heading img{
    margin-top: 5px;
    float: left;
}

#heading h1{
    color: white;
    margin-top: 15px;
    float: left;
}
nav{
   
    float: right;
    margin-right: 20px;
    margin-top: 15px;
       
   }
   nav input{
       background-color: white;
       font-weight: bolder;
       border-radius: 20px;
       margin-right: 20px;
       border: none;
       height: 40px;
      width: 75px;
      font-size: 15px;
   }
  
   nav input:hover{
       background-color: orange;
   }
   #usercontainer{
       
    background-color: orange;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;

}

#hname{
font-weight: bolder;  

}
#imagesection{
    height: 50px;
    margin-bottom: 10px;
   
 
}
#imagecontainer{
    
    text-align: center;
}